* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  
}

.another {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: left;
  
}

.another {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  text-align: center;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="time"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
}

input[type="file"] {
  margin-top: 0.5rem;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: center;
    width: 500px;
    text-size-adjust: 1rem;
  }
  
  .form-container {
    max-width: 1000px;
  
    margin: 0 auto;
    padding: 2rem;
    background-color: #f0f0f0;
    border-radius: 10px;
  }

  .another
  {
    max-width: 1000px ;
  }
  .success-message {
    color: green;
}
  
  
