<div class="row">

    <div class="another">

        <div class="container">
            Name:
            <input type="text" [(ngModel)]="candidateName" name="candidateName">
        </div>

        <div class="container">
            Aadhar Number:
            <input type="text" [(ngModel)]="aadharNumber" name="aadharNumber">
        </div>

        <div class="container">
            PAN Number:
            <input type="text" [(ngModel)]="panNumber" name="panNumber">
        </div>

        <div class="container">
            Experience:
            <input type="number" [(ngModel)]="experience" name="experience">
        </div>

        <div class="container">
            Skills:
            <input type="text" [(ngModel)]="skills" name="skills">
        </div>

        <div class="container">
            Role:
            <input type="text" [(ngModel)]="role" name="role">
        </div>

        <div class="container">
            Available Date:
            <input type="date" [(ngModel)]="availableDate" name="availableDate">
        </div>

        <div class="container">
            Available Time:
            <input type="time" [(ngModel)]="availableTime" name="availableTime">
        </div>


        <div class="container">
            Resume:
            <input type="file" name="pdf" (change)="onFileSelected('resume', $event)" accept=".pdf,.doc,.docx">
        </div>

        <div class="container">
            Current Photograph:
            <input type="file" name="image" (change)="onFileSelected('profile', $event)" accept=".jpg,.jpeg,.png">
        </div>

        <div class="container">
            <button (click)="uploadFiles()">Upload</button>
        </div>
    </div>

</div>
